<div class="sign-page">


<%= render '/shared/page_header' %>
<hr />

<%= render '/shared/flash', flash: flash %>
  <div id="content" class="content">
  <section class="sign sign-up">
    <header class="content-header">
      <h1>Sign In</h1>
      <%= link_to("Sign Up", new_user_path, class: 'btn neutral') %>
    </header>

    <%= form_tag do %>
      <div class="content clearfix">
        <ol class="form-elements">
          <li><%= text_field_tag :name,   "user name" ,required: true%></li>
          <li><%= password_field_tag :password,  "Password" %></li>
        </ol>
      </div>
      <footer>
        <button type="submit" id="submit-sign" name="submit-sign" class="btn">Sign In</button>
      </footer>
    <% end %>

  </section>
  </div>
</div>
<!-- / content -->

<%= render '/shared/page_footer' %>


