<div class="new_api_form" >

<%= form_for @api_call , :html => {:class => "simple_form"}  do |f| %>
  <% if @api_call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_call.errors.count, "error") %> prohibited this api_call from being saved:</h2>

      <ul>
      <% @api_call.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Enter patients details</h2>
  <ol class="form-elements">
    <li>
    <%= f.hidden_field :doctor_id ,:value =>session[:user_id] %>
    </li>
    <li>

    <%= f.label :subscriber_first_name ,'Patient First Name'%>
    <%= f.text_field :subscriber_first_name %>
    </li>
    <li>

    <%= f.label :subscriber_last_name,'Patient Last Name' %>
    <%= f.text_field :subscriber_last_name %>
    </li>
    <li>

    <%= f.label :subscriber_id ,'Patient Id'%>
    <%= f.text_field :subscriber_id %>
    </li>
    <li>

    <%= f.label :patient_contact_no ,'Patient Contact Number'%>
    <%= f.text_field :patient_contact_no %>
    </li>
    <li>

    <%= f.label :subscriber_dob ,'Patient DOB'%>
    <%= f.date_select :subscriber_dob %>
    </li>
    <li>

      <%= f.label :payer_name ,'Insurance Company' %>
      <%= f.text_field :payer_name %>
    </li>
    <li>

      <%= f.label :payer_id ,'Insurance Company Id'%>
      <%= f.text_field :payer_id %>
    </li>
    <li>


  <div class="actions">
    <footer>
      <%= f.submit class: "btn_save" %>
    </footer>
  </div>
          </li>
    </ol>
  <% end %>
</div>
