<div class="wrapper">
 <td><%= render '/shared/page_header' %></td>
  <hr/>

  <div class="container">
    <section>
      <table class="six-cols">
        <caption>
          <h3>Api calls details</h3>
        </caption>
        <tbody>
          <tr>
            
              <td>Doctor First Name </td>
             <td><%= @user.f_name %></td>
            
          </tr>
          <tr>

              <td>Insurance Company </td>
             <td><%= @api_call.payer_name %></td>
          </tr>
          <tr>
    
            
              <td>Insurance company NPI </td>
             <td><%= @api_call.payer_id %></td>

          </tr>
          <tr>
            
              <td>Patient Id </td>
             <td><%= @api_call.subscriber_id %></td>

          </tr>
          <tr>
            
              <td>Patient first name </td>
             <td><%= @api_call.subscriber_first_name %></td>

          </tr>
          <tr>
            
              <td>Patient last name </td>
             <td><%= @api_call.subscriber_last_name %></td>

          </tr>
          <tr>
              <td>Patient Contact No </td>
             <td><%= @api_call.patient_contact_no %></td>

          </tr>
          <tr>
            
              <td>Patient dob  </td>
             <td><%= @api_call.subscriber_dob %></td>
          </tr>
          <tr>
            
              <td>Coverage Status Code  </td>
             <td><%= @api_call.coverage_status_code%></td>

          </tr>
          <tr>
              <td>Responce  </td>
             <td><%= @api_call.responce.to_s %></td>
          </tr>

        </tbody>
      </table>
    <section>
  </div>
  <%= render '/shared/page_footer' %>

</div>




<%= link_to 'Back', api_calls_path %></td>
